.cart-page {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 70% 30%;

    .cart__body {

        @include product-list;

        .controls {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
        
        .icon {
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 3px;
            padding: 7px;
            background-color: $whitesmoke;
        }

        .trash {
            margin-left: auto;
        }
    }

    .cart__checkout {
        padding: 20px;
        height: fit-content;
        box-shadow: $shadow-card;

        .quantity {
            margin-bottom: 20px;
            @include flex-between;
            font-size: 18px;
            line-height: 18px;
        }
        .price {
            margin-bottom: 20px;
            @include flex-between;
            font-size: 18px;
            line-height: 18px;
        }
    }
}