.signin, .signup {
    box-shadow: $shadow-card;
    padding: 40px;
    border-radius: 3px;

    .form-info__user {
        display: flex;
        align-items: center;
    }
}
.form {
    .form-label {
        font-size: 18px;
    }
}
.form-info__user {
    flex-wrap: wrap;

    p {
        margin-right: 6px;
        font-size: 16px;
        line-height: 24px;
    }
}