.signin, .signup {
    box-shadow: $shadow-card;
    padding: 40px;
    border-radius: 3px;

    .form-info__user {
        display: flex;
        align-items: center;

        a {
            margin-left: 5px;
            color: $orange;
        }
    }

    .btn {
        &:hover, &:focus {
            background-color: $teal;
            outline: none;
            border: none;
            color: #fff;
        }
    }
}

.form {
    margin-top: 30px;
    margin-bottom: 15px;

    div {
        margin-bottom: 20px;
    }
}