* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

// Default style
.small-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
    
img {
  max-width: 100%;
  vertical-align: inherit;
  height: auto;
}

p,span {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul,ol,li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3,h4,h5 {
  margin: 0;
}

/* Margin */
.mr-8 {
  margin-right: 8px;
}
.ml-8 {
  margin-left: 8px;
}

/* Spinner */
.loading-box {
  width: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

/* Bage */
.bage--box {
  font-size: 14px;
  background: #dc3545;
  min-width: 25px;
  height: 24px;
  font-weight: 400;
  transform: translate(-5px,-10px);
  display: flex;
  border-radius: 50%;
  color: #fff;
  justify-content: center;
  align-items: center;
}

/* Tooltip */
.tooltip__message img {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}