/* Header */
.header {
	background-color: #fff;
	box-shadow: $shadow-bottom;
	position: fixed;
    width: 100%;
    z-index: 9999;

	.logo a {
		font-size: 35px;
		font-feature-settings: "unic";
		font-variant: unicase;

		&:hover, &:focus {
			box-shadow: none;
		}
	}

	.navbar {
		padding-top: 15px;
		padding-bottom: 15px;
		column-gap: 30px;

		.dropdown-toggle, 
		.nav__signin {
			padding: 0;
			color: $blue;
			font-size: 18px;
		}
	}

	.cart {
		font-size: 18px;
    	margin-right: 30px;
		position: relative;
		display: flex;
		align-items: center;
	}

	/* Search */
	.search-box {
		display: flex;
		align-items: center;
		margin-left: 30px;
		border: 1px solid $blue;
		border-radius: 20px;

		&:focus-within {
			box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
		}

		.search-box__input {
			border: none;
			border-radius: 20px;

			&:focus, &:hover {
				box-shadow: none;
			}
		}

		svg {
			cursor: pointer;

			&:focus, &:hover {
				opacity: 0.7;
			}
		}
	}
	
	/* Admin menu */
	.admin__menu {
		margin-left: 25px;
	}
}

/* Main */
main {
    padding: calc(60px + 82px) 0 60px 0;
    min-height: 70vh;
	background-color: $gray-100;
}

/* Products */
.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
	position: relative;

    .product {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .thumbnail {
            background-color: #fff;
            height: 250px;
            box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px -10px;

            img {
                padding: 20px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
          }
        
        .content {
            padding: 20px;
			text-align: center;
        }

        .name {
            margin-bottom: 15px;
            color: $black;
            font-weight: 600;
        }
        
        .price {
            margin-bottom: 15px;
        }
    }
}
  

/* Footer */
.footer {
	padding: 25px 0;

	.footer__log a {
		font-size: 35px;
		font-feature-settings: "unic";
		font-variant: unicase;
	}

	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 10px;
		column-gap: 15px;
	}

	.copyright {
		color: $blue;
		font-size: 18px;
	}
}
