/* Header */
.header,.footer {
    background-color: $teal;
}   

.header {
    .cart {
        color: #fff;
        font-size: 20px;
        position: relative;
        font-weight: 500;
        cursor: pointer;
        padding-right: 20px;

        .badge {
            position: absolute;
            background: red;
            min-width: 25px;
            border: 1px solid #fff;
            height: 24px;
            left: 55%;
            top: -13px;
            font-size: 14px;
            border-radius: 50%;
            @include flex-center;
        }
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100px;
        height: 100%;
    }
    
    .logo a {
        @include logo;
    }
}

/* Main */
main {
    padding: 30px 0;
    min-height: 70vh;
}

/* Products */
.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;

    .product {

        .thumbnail {
            background-color: $teal;
            height: 200px;
          }
        
        .content {
            padding: 20px;
            border: 1.5px solid $teal;
        }

        .name {
            margin-bottom: 16px;
            color: $black;
            font-weight: 600;
        }
        
        .price {
            text-align: right;
            margin-bottom: 16px;
        }
    }

}
  

/* Footer */
.footer {
    padding: 25px 0;

    .footer__log a {
        @include logo;
    }

    .content {
        @include flex-between;
    }

    .copyright {
        color: #fff;
        font-size: 18px;
    }
}
// to do