@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin message {
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

@mixin product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@mixin product-list {
    .cart__item {
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding: 15px 20px;
        margin-bottom: 20px;
        box-shadow: $shadow-card;
        background-color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .name {
        width: 50%;
        -webkit-line-clamp: 3;
    }
    .thumbnail {
        max-width: 70px;
        width: 100%;
        height: 70px;
        padding: 5px;
        display: flex;
        align-items: center;
        box-shadow: $shadow-white;

        img {
            object-fit: contain;
            height: inherit;
            width: inherit;
        }
    }

    .title {
        font-size: 16px;
        line-height: 20px;
    }
    
    .price {
        font-size: 18px;
        margin-left: auto;
    }

    .quantity {
        font-size: 18px;
    }
}