  /* SINGLE PRODUCT */
.single__product {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 40px;
    row-gap: 40px;

  .rating-box {
    display: flex;
    align-items: center;
  }
  .rating {

    span {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    i {
      color: $orange;
      font-size: 18px;
    }
  }

  .num-reviews {
    font-size: 20px;
    margin-top: 15px;
  }

  .product__thumbnail {
    background-color: #fff; 
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    // border: 1px solid #ccc; 

    img {
      padding: 20px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .product__content {
    display: flex;
    justify-content: space-between;
  }

  .product__cart {
    box-shadow: $shadow-light;
    height: max-content;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    border-radius: 2px;

    .item-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 5px;

      p:last-of-type {
        font-size: 14px;
      }
    }

    button {
      font-size: 14px;
    }
  }

  .description {
    font-size: 18px;
  }
}


