  /* SINGLE PRODUCT */
.single__product {
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;

  .title {
    margin-bottom: $sm;
  }

  .price {
    margin-bottom: $sm;
    display: block;
    font-size: 18px;
  }

  .rating {
    margin-bottom: $sm;

    span {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    i {
      color: $orange;
      font-size: 18px;
    }
  }

  .num-reviews {
    margin-top: $sm;
    font-size: 18px;
  }

  .product__thumbnail {
    background-color: #fff;
    height: 400px;
    box-shadow: $shadow-right;

    img {
      padding: 30px;
      @include product-image;
    }
  }

  .product__content {
    display: flex;
    justify-content: space-between;
    column-gap: $md;
    padding: 25px;
  }

  .product__cart {
    box-shadow: $shadow-light;
    height: max-content;
    padding: 25px;
    width: 100%;
    max-width: 210px;
    border-radius: 2px;

    .status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 5px;

      p:last-of-type {
        font-size: 14px;
      }
    }

    button {
      font-size: 14px;
    }
  }

  .description {
    font-size: 18px;
  }
}


