@media only screen and (max-width: 1200px) {
	/* Home products */
	.products {
		grid-template-columns: repeat(3, 1fr);
	}

	/* Single product */
	.single__product .product__cart {
		padding: 15px;
		max-width: 200px;
	}
	.single__product .product__thumbnail {
		height: 350px;
	}

}
@media only screen and (max-width: 992px) {
	.products {
		grid-template-columns: repeat(2, 1fr);
	}

	/* Single product */
	.single__product {
		grid-template-columns: 100%;
	}
	.single__product .product__thumbnail img {
		padding: 0;
	}

	/* Pagina de cos */
	.cart-page {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 767.99px) {

	/* Global */
	.bage--box {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	/* Header */
	.header {
		.cart {
			margin-right: 0;
			margin-bottom: 15px;
			position: relative;
		}

		.navbar {
			position: static;

			.navbar-collapse {
				position: absolute;
				top: 98%;
				width: 100%;
				background-color: #fff;
				z-index: 9999;
				left: 0;
				box-shadow: $shadow-bottom;
				padding-bottom: 20px;
			} 
		}
		.navbar-nav {
			margin: 0 auto;
			padding: 0 12px;
			max-width: 540px;

			.dropdown-toggle {
				font-size: 20px;
				position: relative;

				&::after {
					position: absolute;
					right: 8px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.dropdown-menu.show {
				border: none;

				a {
					padding: 10px;
					border-bottom: 1px solid #ccc;
	
					&:last-of-type {
						border: 0;
					}
				}
			}
		}
		.navbar-toggler {
			padding: 0;
			color: $blue;
			border: 0;

			&:hover, &:focus {
				box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 50%);
			}
		}
	}

	// Homepage products
	.products {
		.product {
			.thumbnail {
				height: 180px;
			}
			.content p {
				font-size: 16px;
				line-height: 22px;
			}
		}
	}

	/* Single product */
	.single__product {
		.product__content {
			flex-direction: column;
		}
		.product__cart {
			box-shadow: none;
			background: transparent;
			padding: 0;
			margin: 20px 0;
			max-width: fit-content;

			h5.item-flex {
				display: none;
			}
			h5 {
				font-size: 20px;
			}
			.status {
				margin-bottom: 5px;
			}
		}
	}

	/* Cart page */
	.cart-page .cart__body {
		.thumbnail {
			width: 70px;
			height: 70px;
		}
		.cart__item {
			padding: 12px;
			column-gap: 12px;
		}
		.title,
		.quantity,
		.price p {
			font-size: 14px;
		}
	}
}

@media only screen and (max-width: 576px) {
	/* General */
	main {
		padding-top: 120px;
	}

	/* Frontpage */
	.products {
		grid-template-columns: repeat(1, 1fr);
		.product {
			.thumbnail {
				height: 300px;
				img {
					object-fit: contain;
				}
			}
		}	
	}

	/* Cart page */
	.cart-page {
		row-gap: 20px;
		.cart__body {
			.cart__item {
				position: relative;
				column-gap: 8px;
				margin-bottom: 20px;
				padding: 8px;
			}
			.title,
			.quantity,
			.price p {
				font-size: 12px;
			}
			.thumbnail {
				width: 50px;
				height: 50px;
			}
			.icon {
				width: 20px;
				height: 20px;
				padding: 4px;
			}
		}
		.cart__checkout {
			padding: 15px;

			.quantity,
			.price {
				font-size: 16px;
			}
		}
	}

	/* Form */
	.signin, .signup {
		padding: 20px;

		.title {
			font-size: 30px;
		}
	}
	.form {
		.form-label {
			font-size: 16px;
		}
	}

	/* Steps */
	.finish-steps > div {
		padding: 10px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 400px) {
	.cart-page .cart__body {
		.icon {
			width: 16px;
			height: 16px;
			padding: 3px;
		}
		.controls {
			button:first-of-type {
				margin-right: 4px;
			}
			button:last-of-type {
				margin-left: 4px;
			}
		}
	}
}
