  @font-face {
    font-family: monserat-light;
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: monserat-regular;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: montserrat-medium;
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: montserrat-semibold;
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: montserrat-bold;
    src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
  }

body {
  font-family: monserat-regular;
}

h1 {
  font-size: 35px;
  line-height: 45px;
  // font-weight: 700;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}
h3 {
  font-size: 25px;
  line-height: 35px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 18px;
}

a {
  color: #0d6efd;
}

p {
  font-size: 18px;
  line-height: 26px;
}