  @font-face {
    font-family: monserat-light;
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: monserat-regular;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: montserrat-medium;
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: montserrat-semibold;
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: montserrat-bold;
    src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
  }
  