
/* FONTS */
$ms-light: monserat-light;
$ms-regular: monserat-regular;
$ms-medium: monserat-medium;
$ms-semibold: monserat-semibold;
$ms-bold: monserat-bold;

/* COLOR */
$white: white;
$black: #000;
$teal: teal;
$orange: orange;

/* MARGIN */
$xs: 10px;
$sm: 15px;
$md: 25px;
$lg: 35px;
$xl: 45px; 

/* Box shadow */
$shadow-bold: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$shadow-light: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
