body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* COLOR */
  --teal: teal;

  /* MARGIN */
  --sm: 10px;
  --md: 25px;
  --lg: 35px;
  --xl: 45px;

    /* PADDING */
    --sm: 15px;
    --md: 25px;
    --lg: 35px;
    --xl: 45px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: max-content;
  height: auto;
}

a {
  display: block;
}

.products {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 25px;
}

.products .product {
  border: 1px solid var(--teal);
}

.products img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 200px;
}
.product__content {
  padding: 25px;
}

.product__content a {
  color: var(--teal);
  margin-bottom: var(--sm);
}

.product__content .product__name {
  color: var(--teal);
  margin-bottom: var(--sm);
}

.product__content .product__price{
  color: var(--teal);
  margin-bottom: var(--sm);
}

.product__content .product__button {
  color: var(--teal);
  padding: 3px var(--md);
  cursor: pointer;
}